# This is  a session to teach sean how to write Python

In [55]:
print("hello, World")

x  = "   Andres Eduardo "

hello, World

In [30]:
x.strip()

'Andres Eduardo'

In [32]:
for i in range(10):
    print(i + 5)
    print("hi")
    
print("hello")

5
hi
6
hi
7
hi
8
hi
9
hi
10
hi
11
hi
12
hi
13
hi
14
hi
hello

In [3]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [5]:
mylist = [1,2,4,5,6]

In [6]:
for number in mylist:
    print(number)

1
2
4
5
6

In [7]:
s = "sean dunn"

In [9]:
for char in s:
    print(char)

s
e
a
n

d
u
n
n

In [34]:
print("hello", end="")
print("sean")

hellosean

'nnud naes'

['dunn', 'sean']

In [35]:
x = "Sean Dunn in funky"

In [39]:
start = 4
end = len(x)

for k in x[start:end]:
    print(k, end="")

 Dunn in funky

In [42]:
def f(a,b,c="Sean"):
    print(a,b,c)

In [43]:
f("andres",4)

andres 4 Sean

In [44]:
import random

In [48]:
arr = list()

for i in range(15):
    arr.append(random.randint(1,10))

In [49]:
arr

[9, 7, 1, 10, 1, 1, 7, 5, 1, 8, 9, 10, 9, 8, 9]

In [50]:
Thisisalist = [1,2,3,4]

In [53]:
Thisisalist.insert(2,"mike")

In [54]:
Thisisalist

[1, 2, 'mike', 3, 4]

In [57]:
if (x==5):
    print("hi")
else:
    print("nah")

hi

In [58]:
isinstance(x,int)

True